.animate-flipinx {
    -webkit-animation:flipinx 1s ease-out 0s 1 normal;
    -moz-animation:flipinx 1s ease-out 0s 1 normal;
    -ms-animation:flipinx 1s ease-out 0s 1 normal;
    animation:flipinx 1s ease-out 0s 1 normal;
}
    
@-webkit-keyframes flipinx {
    0%{ opacity: 0; -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(90deg); }
    40%{ -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(-10deg); }
    70%{ -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(10deg); }
    100%{ opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); }
}

@keyframes flipinx {
    0%{ opacity: 0; transform: perspective(400px) rotateX(90deg); }
    40%{ transform: perspective(400px) rotateX(-10deg); }
    70%{ transform: perspective(400px) rotateX(10deg); }
    100%{ opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

.animate-flipoux {
    -webkit-animation:flipoux 1s ease-in 0s 1 normal;
    -moz-animation:flipoux 1s ease-in 0s 1 normal;
    -ms-animation:flipoux 1s ease-in 0s 1 normal;
    animation:flipoux 1s ease-in 0s 1 normal;
}

@-webkit-keyframes flipoux {
    0%{ opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); }
    40%{ -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(10deg); }
    70%{ -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(-10deg); }
    100%{ opacity: 0; -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(90deg); }
}
@keyframes flipoux {
    0%{ opacity: 1; transform: perspective(400px) rotateX(0deg); }
    40%{ transform: perspective(400px) rotateX(10deg); }
    70%{ transform: perspective(400px) rotateX(-10deg); }
    100%{ opacity: 0; transform: perspective(400px) rotateX(90deg); }
}